<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-2xl font-bold text-center text-blue-600 mb-6">
      Iniciar Sesión
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-4">
        <label for="correo" class="block text-sm font-medium text-gray-700"
          >Correo Electrónico</label
        >
        <input
          id="correo"
          type="email"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
          formControlName="correo"
          placeholder="Ingresa tu correo electrónico"
        />
        <div
          *ngIf="
            loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Ingresa un correo válido.
        </div>
      </div>
      <div class="mb-4">
        <label for="contraseña" class="block text-sm font-medium text-gray-700"
          >Contraseña</label
        >
        <input
          id="contraseña"
          type="password"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
          formControlName="contraseña"
          placeholder="Ingresa tu contraseña"
        />
        <div
          *ngIf="
            loginForm.get('contraseña')?.invalid &&
            loginForm.get('contraseña')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          La contraseña es obligatoria.
        </div>
      </div>
      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
        [disabled]="loginForm.invalid"
      >
        Iniciar Sesión
      </button>
      <div *ngIf="mensajeError" class="text-red-500 text-center text-sm mt-4">
        {{ mensajeError }}
      </div>
    </form>
  </div>
</div>
